%mark-down-base-font-size {
  p { font-size: adjust-font-size(14px); }
  strong { font-size: adjust-font-size(18px); }
  li { font-size: adjust-font-size(16px); }
  table { font-size: adjust-font-size(12px); }
  em { font-size: adjust-font-size(12px); }
}

%mark-down-welcome-font-size {
  p { font-size: adjust-font-size(16px); }
  strong { font-size: adjust-font-size(24px); }
  em { font-size: adjust-font-size(20px); }
  code { font-size: adjust-font-size(32px); }
}

%mark-down-question-font-size {
  p { font-size: adjust-font-size(24px); }
  strong { font-size: adjust-font-size(32px); }
  em { font-size: adjust-font-size(16px); }
  code { font-size: adjust-font-size(40px); }
}