@import './markdownFontSize';

%mark-down-base {
  height: min-content;
  position: relative;
  text-align: left;

  @extend %mark-down-base-font-size;

  p {
    font-weight: bold;

    & + p {
      margin-top: adjust-scale(50px);
    }
  }

  ul > li { list-style-type: disc; }
  ol > li { list-style-type: decimal; }

  ul, ol {
    padding-left: adjust-scale(130px);

    li {
      font-weight: bold;
    }
  }

  strong {
    font-size: adjust-font-size(18px);
    margin: 0 adjust-scale(12px);
  }

  table {
    border: 1px solid #333;
    width: calc(100% - adjust-scale($paddingValue));

    td, th {
      padding: adjust-scale(15px);

      &:not(:first-child) {
        border-left: 1px solid #333;
      }
    }

    tbody > tr:not(:last-child),
    thead > tr {
      border-bottom: 1px solid #333;
    }
  }

  em {
    font-style: normal;
  }
}

%mark-down-welcome {
  text-align: center;

  @extend %mark-down-welcome-font-size;

  p {
    font-weight: bold;
    margin-top: adjust-scale(700px - $paddingValue);
  }

  ul, ol {
    display: none;
  }

  strong {
    display: inline-block;
    margin: 0 adjust-scale(15px);
  }

  em {
    font-style: normal;
  }

  code {
    display: inline-block;
    font-weight: bold;
    transform: rotate(25deg) translate(10%, 10%);
  }
}

%mark-down-question {
  align-items: center;
  display: flex;
  padding-bottom: adjust-scale(130px);
  position: relative;
  text-align: center;

  @extend %mark-down-question-font-size;

  p {
    font-weight: bold;
    height: min-content;
    max-height: 100%;
    width: 100%;
  }

  ul, ol {
    display: none;
  }

  strong {
    display: inline-block;
    margin: 0 adjust-scale(15px);
  }

  em {
    font-style: normal;
    font-weight: normal;
  }

  code {
    display: inline-block;
    font-weight: bold;
    transform: rotate(25deg) translate(10%, 10%);
  }
}