.postImage {
  @apply mt-16;

    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    overflow: hidden;
    padding: 20px 20px 100px;
    width: 300px;
    word-break: break-all;

    &.red {
      background-image:
      url('/assets/post/red-1.jpg');
    }

    &.blue {
      background-image:
      url('/assets/post/blue-1.jpg');
    }

    &.green {
      background-image:
      url('/assets/post/green-1.jpg');
    }
}

.markdown {
  color: #333;
  font-size: 16px;
  max-height: 100%;
  overflow: hidden;
}

.editArea {
  @apply mt-16;

  margin: 0 auto;
  width: max-content;
}