.box {
  position: relative;
}

.selectBox {
  @apply bg-darkBg;

  left: 0;
  position: absolute;
  top: calc(40px + 0px);
  width: 100%;
  z-index: 1;
}

.selectBoxContent {
  max-height: 300px;
  overflow-y: scroll;
}

.selectItem {
  font-weight: normal;
  min-height: 40px;
  width: 100%;
}
