@import './adjustScale';

@mixin set-image($color, $type) {
  background-image:
    url('/assets/post/' + $type + '/' + $color + '.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;

  @if $type == 'welcome' {
    position: absolute;
    left: 50%;
    top: adjust-scale(21px);
    transform: translate(-50%, 0);
    height: adjust-scale(700px);
    width: adjust-scale(700px);
  } @else if $type == 'startled' {
    position: relative;
    float: right;
    clear: both;
    margin-right: adjust-scale(25px);
    height: adjust-scale(300px);
    width: adjust-scale(300px);
  } @else if $type == 'research' {
    position: relative;
    float: right;
    clear: both;
    margin-right: adjust-scale(32px);
    height: adjust-scale(300px);
    width: adjust-scale(300px);
  } @else if $type == 'question' {
    position: relative;
    float: right;
    clear: both;
    margin-right: adjust-scale(18px);
    height: adjust-scale(300px);
    width: adjust-scale(300px);
  } @else if $type == 'creativity' {
    position: relative;
    float: right;
    clear: both;
    margin-right: adjust-scale(33px);
    height: adjust-scale(300px);
    width: adjust-scale(300px);
  }
}

@mixin set-space($type) {
  position: relative;

  @if $type == 'welcome' {
    display: none;
  } @else if $type == 'startled' {
    float: right;
    height: adjust-scale(737px - $paddingValue);
  } @else if $type == 'research' {
    float: right;
    height: adjust-scale(706px - $paddingValue);
  } @else if $type == 'question' {
    float: right;
    height: adjust-scale(713px - $paddingValue);
  } @else if $type == 'creativity' {
    float: right;
    height: adjust-scale(713px - $paddingValue);
  }
}
