@import './image';
@import './adjustScale';

$sizePx: adjust-scale(1080px);

.postImage {
  @apply mt-16;

  background-image:
  url('/assets/post/bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: $sizePx;
  overflow: hidden;
  padding: 0;
  position: relative;
  transform: scale($scale);
  transform-origin: top left;
  width: $sizePx;
  word-break: break-all;

  .markdown {
    color: #333;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding-left: adjust-scale($paddingValue);
    padding-top: adjust-scale($paddingValue);

    p {
      height: 100%;
      padding-right: adjust-scale($paddingValue);
    }
  }

  &.red {
    $color: 'red';

    .markdown {
      strong, code {
        @apply text-postRed;
      }
    }

    &.welcome { .ornament { @include set-image($color, 'welcome'); } }
    &.startled { .ornament { @include set-image($color, 'startled'); } }
    &.research { .ornament { @include set-image($color, 'research'); } }
    &.question { .ornament { @include set-image($color, 'question'); } }
    &.creativity { .ornament { @include set-image($color, 'creativity'); } }
  }

  &.green {
    $color: 'green';

    .markdown {
      strong, code {
        @apply text-postGreen;
      }
    }

    &.welcome { .ornament { @include set-image($color, 'welcome'); } }
    &.startled { .ornament { @include set-image($color, 'startled'); } }
    &.research { .ornament { @include set-image($color, 'research'); } }
    &.question { .ornament { @include set-image($color, 'question'); } }
    &.creativity { .ornament { @include set-image($color, 'creativity'); } }
  }

  &.blue {
    $color: 'blue';

    .markdown {
      strong, code {
        @apply text-postBlue;
      }
    }

    &.welcome { .ornament { @include set-image($color, 'welcome'); } }
    &.startled { .ornament { @include set-image($color, 'startled'); } }
    &.research { .ornament { @include set-image($color, 'research'); } }
    &.question { .ornament { @include set-image($color, 'question'); } }
    &.creativity { .ornament { @include set-image($color, 'creativity'); } }
  }

  &.welcome {
    .space { @include set-space('welcome'); }

    .markdown {
      text-align: center;

      p {
        font-size: adjust-font-size(16px);
        margin-top: adjust-scale(700px - $paddingValue);
      }

      strong {
        font-size: adjust-font-size(20px);
      }
    }
  }

  &.startled {
    .space { @include set-space('startled'); }

    .markdown {
      height: min-content;
      position: relative;
      text-align: left;

      p {
        font-size: adjust-font-size(16px);
      }

      strong {
        font-size: adjust-font-size(20px);
      }
    }
  }

  &.research {
    .space { @include set-space('research'); }

    .markdown {
      height: min-content;
      position: relative;
      text-align: left;

      p {
        font-size: adjust-font-size(16px);
      }

      strong {
        font-size: adjust-font-size(20px);
      }
    }
  }

  &.creativity {
    .space { @include set-space('creativity'); }

    .markdown {
      height: min-content;
      position: relative;
      text-align: left;

      p {
        font-size: adjust-font-size(16px);
      }

      strong {
        font-size: adjust-font-size(20px);
      }
    }
  }

  &.question {
    .space { @include set-space('question'); }

    .markdown {
      align-items: center;
      display: flex;
      padding-bottom: adjust-scale(130px);
      position: relative;
      text-align: center;

      p {
        font-size: adjust-font-size(24px);
        height: min-content;
        max-height: 100%;
      }

      strong {
        display: inline-block;
        font-size: adjust-font-size(32px);
        margin: 0 adjust-scale(15px);
      }

      code {
        display: inline-block;
        font-size: adjust-font-size(40px);
        font-weight: bold;
        transform: rotate(25deg) translate(10%, 10%);
      }
    }
  }
}

.editArea {
  @apply mt-16;

  height: $sizePx * $scale;
  margin: 0 auto;
  width: $sizePx * $scale;
}