.wrap {
  // &.horizontally {}

  &.hidden {
    display: none!important;
  }

  &.vertically {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .label {
      max-width: 20%;
      width: 100%;
    }

    .content {
      width: 100%;
    }

    .suffix {
      @apply ml-8 mt-12;

      text-align: left;
    }
  }
}

.dark {
  width: 100%;
}