$sizePx: 300px * 5;
$scale: 1 / 5;
$fontSize: 16px * 5;

.postImage {
  @apply mt-16;

    background-repeat: no-repeat;
    background-size: 100%;
    height: $sizePx;
    overflow: hidden;
    padding: 100px 100px 500px;
    transform: scale($scale);
    transform-origin: top left;
    width: $sizePx;
    word-break: break-all;

    &.red {
      background-image:
      url('/assets/post/red-1.jpg');
    }

    &.blue {
      background-image:
      url('/assets/post/blue-1.jpg');
    }

    &.green {
      background-image:
      url('/assets/post/green-1.jpg');
    }
}

.markdown {
  color: #333;
  font-size: $fontSize;
  max-height: 100%;
  overflow: hidden;
}

.editArea {
  @apply mt-16;

  height: 300px;
  margin: 0 auto;
  width: 300px;
}