.accordion {
  border: none;
  border-bottom: solid 1px #555;
  box-sizing: border-box;
}

.button {
  display: flex;
  font-size: 16px!important;
  justify-content: space-between;
  padding: 14px!important;
}

.bottom {
  @apply bg-gray-800;

  font-size: 16px!important;
  padding: 14px!important;
}
