$transition-duration: .5s;
$transition-timing-function: liner;
$arrow-init: translate(-100%, -50%);

%extend-button-reset {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

%extend-base {
  @apply w-full p-8;

  align-items: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

%extend-btn-after {
  @apply bg-white;
  @extend %extend-base;

  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition-duration: $transition-duration;
  transition-property: opacity;
  transition-timing-function: $transition-timing-function;
}

@keyframes arrow-animation {
  0% {
    transform: translate(-130%, -50%);
  }

  50% {
    transform: translate(-30%, -50%);
  }

  100% {
    transform: translate(-130%, -50%);
  }
}

.arrow {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: arrow-animation;
  animation-play-state: paused;
  animation-timing-function: linear;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: $arrow-init;
  will-change: filter;
}

.button {
  @extend %extend-button-reset, %extend-base;

  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    @extend %extend-btn-after;
  }

  &:hover {
    &::after {
      opacity: .4;
    }

    .arrow {
      animation-play-state: running;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    &::after {
      @apply bg-black;

      opacity: .4;
    }
  }

  &.prime {
    @apply text-darkText;

    background: linear-gradient(to right, #1B49A1, #69D0E7);
  }

  &.warning {
    @apply text-darkText;

    background: linear-gradient(to right, #634B0D, #FFC66F);
  }

  &.dangerous {
    @apply text-darkText;

    background: linear-gradient(to right, #790707, #FC8A8A);
  }

  &.standard {
    @apply bg-lightText text-lightBg;
  }

  &.outline {
    @apply  text-lightText border-lightText;

    background: none;
    border-style: solid;
    border-width: 1px;

    &::after {
      @apply  bg-black;
    }
  }

  &.small {
    @apply h-40;

    font-size: 14px;
  }

  &.medium {
    @apply h-spUI text-24;
  }

  &.large {
    @apply h-64 text-32;
  }
}

.submit_wrap {
  cursor: pointer;
  pointer-events: auto;
  position: relative;

  &::after {
    @extend %extend-btn-after;
  }

  &:hover {
    &:hover {
      &::after {
        opacity: .4;
      }

      .arrow {
        animation-play-state: running;
      }
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    &::after {
      @apply bg-black;

      opacity: .4;
    }
  }
}

.dark {
  &.standard {
    @apply bg-darkText text-darkBg;
  }

  &.outline {
    @apply text-darkText border-darkText;

    &::after {
      @apply  bg-darkText;
    }
  }
}