%mark-down-base {
  height: min-content;
  position: relative;
  text-align: left;

  p {
    font-size: adjust-font-size(16px);
    font-weight: bold;
  }

  ul > li { list-style-type: disc; }
  ol > li { list-style-type: decimal; }

  ul, ol {
    padding-left: adjust-font-size(30px);

    li {
      font-size: adjust-font-size(16px);
      font-weight: bold;
    }
  }

  strong {
    font-size: adjust-font-size(20px);
    margin: 0 adjust-scale(15px);
  }
}

%mark-down-welcome {
  font-size: adjust-font-size(16px);
  text-align: center;

  p {
    font-weight: bold;
    margin-top: adjust-scale(700px - $paddingValue);
  }

  ul, ol {
    display: none;
  }

  strong {
    display: inline-block;
    font-size: adjust-font-size(24px);
    margin: 0 adjust-scale(15px);
  }

  em {
    font-size: adjust-font-size(20px);
    font-style: normal;
  }

  code {
    display: inline-block;
    font-size: adjust-font-size(32px);
    font-weight: bold;
    transform: rotate(25deg) translate(10%, 10%);
  }
}

%mark-down-question {
  align-items: center;
  display: flex;
  font-size: adjust-font-size(24px);
  padding-bottom: adjust-scale(130px);
  position: relative;
  text-align: center;

  p {
    font-weight: bold;
    height: min-content;
    max-height: 100%;
    width: 100%;
  }

  ul, ol {
    display: none;
  }

  strong {
    display: inline-block;
    font-size: adjust-font-size(32px);
    margin: 0 adjust-scale(15px);
  }

  em {
    font-size: adjust-font-size(18px);
    font-style: normal;
  }

  code {
    display: inline-block;
    font-size: adjust-font-size(40px);
    font-weight: bold;
    transform: rotate(25deg) translate(10%, 10%);
  }
}